.launch {
  width: 140px;
  height: 140px;
  border: 4px solid #d7d7d7;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .launch-icon {
    // font-size: 2.5rem;
    width: 40px;
    height: 40px;
  }

  .launch-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
