.launch-list-container {
  width: 100%;
  padding: 1rem;

  .launch-list-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0;
    text-align: left;
  }

  .launch-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    cursor: pointer;
    // justify-content: center;
  }
}
