.quick-flow-item {
  //   width: 140px;
  //   height: 140px;
  //   min-width: max-content;
  //   border: 4px solid #d7d7d7;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .quick-flow-item-icon {
    // font-size: 2.5rem;
    border: 2px solid #d7d7d7;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
  }

  .quick-flow-item-text {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    // text-transform: uppercase;
  }
}
